::-webkit-input-placeholder {
    color: #a3a3a3;
}

:-moz-placeholder { /* Firefox 18- */
    color: #a3a3a3;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #a3a3a3;
}

:-ms-input-placeholder {
    color: #a3a3a3;
}
.navbar-pos-fix{

}
.navbar-fixed.navbar-pos-fix{
    margin-bottom: 60px;
    height: 100px !important;
}

.slider{
    position: relative;
}
.no-select, .no-select-nofill{
    background: rgba(138, 196, 228, 0.86);
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
.no-select-nofill{
    background: transparent;
}
.slides img{
    z-index: 10;
}
.caption{
    z-index: 12;
}
.side-nav li{
    border-bottom: 1px solid #efefef;
}
.custom-input{
    border: none !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    background: #ffffff !important;
    padding: 0 10px !important;
}
.custom-input:focus, .custom-input:active{
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.custom-fab-test{
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 150px !important;
    max-width: 980px !important;
    z-index: 13 !important;
    bottom: 150px;
    left: 50%;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 16pt;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.custom-fab-test:hover{
    background: white;
    color: #589af0;
}
#search-bar-mentor{
    position: absolute;
    width: 90% !important;
    max-width: 980px !important;
    z-index: 13 !important;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.how-it-works .how-title{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: skyblue;
    padding: 10px;
    border-bottom: 1px solid skyblue;
    margin-bottom: 50px;
}
.how-title p{
    color: #515254;
}
.how-it-works .col.s12.m4 i{
    color: #64b5f6 !important;
    padding: 20px auto !important;
}
.how-it-works .col.s12.m4 h5{
    color: skyblue;
    font-weight: bold;
}
.how-it-works .col.s12.m4 h5 b{
    font-size: 24pt;
    color: deepskyblue;
    font-weight: bolder;
}
.how-it-works .col a.btn{
    margin: 50px auto;
}

.top-mentors .col{
    width: 24% !important;
    padding: 5px;
    margin: 0 1%;
    border: 1px solid #dddddd;
    font-family: "Open Sans", sans-serif;
}
.top-mentors .top-mentor-name{
    font-weight: bold;
}
.top-mentors .top-mentor-pos{
    color: #8e9194;
}
.top-mentors .top-mentor-details{
    font-size: 10pt;
}
.top-mentors hr{
    max-width: 990px;
    width: 100%;
    border: 1px solid #dddddd;
    margin: 60px auto auto auto;
}
.top-mentors h4:first-child{
    max-width: 980px;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: skyblue;
    padding: 10px;
    border-bottom: 1px solid skyblue;
    margin: auto auto 50px auto;
}
.carousel .carousel-item img{
    width: 60%;
}


.about-us-sm .page-container div{
    display: inline-block;
    width: 50%;
    margin: 0;
    min-height: 400px;
}
.about-us-sm .student-benefits{
    float: right;
    height: 100% !important;
    background: #70b0d0;
    color: white;
}
.about-us-sm .student-benefits h3{
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 10px !important;
    border-bottom: 2px solid white;
}
.about-us-sm .what-we-do h3{
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 10px;
    color: skyblue;
    border-bottom: 2px solid skyblue;
}
.about-us-sm .student-benefits ul{
    list-style: circle !important;
}
.about-us-sm p, .about-us-sm ol{
    padding-right: 5px;
    font-family: "Open Sans", sans-serif;
}
.about-us-sm p{
    padding-left: 10px;
}
.about-us-sm .student-benefits ol li{
    line-height: 29pt;
}
.about-us-sm .what-we-do b{
    font-size: larger;
    color: #3a5765;
}