@media only screen and (max-width: 768px) {
    body,html{
        overflow-x: hidden !important;
    }
    .slides .caption h3{
        font-size: 18pt;
    }
    .about-us-sm .page-container div{
        float: none;
        width: 100%;
    }
    .page-title.brand-logo{
        margin-left: 0 !important;
    }
    .add-ques-wrapper{
        right: 0 !important;
        width: 150px !important;
    }
    .add-ques-wrapper span.icons{
        display: none;
    }
    .add-ques-wrapper.active{
        width: 100% !important;
    }
}